Hi there!
The following properties from your BlightStatus Watchlist have been updated:

-@subs.each do |sub|
  #{sub.address.address_long} (http://blightstatus.nola.gov/addresses/#{sub.address.id})




____________________________________________________________
You are receiving email updates because you created a Watchlist on blightstatus.nola.gov. If you no longer want to receive email updates, visit: http://blightstatus.nola.gov/accounts and un-check the 'Receive Email Updates' checkbox.