%html
  %head
  %body
    %table
      %tr
        %td
          %img{:src => "http://blightstatus.nola.gov/images/logo-stronger.png"}
      %tr
        %td
          %h2{:style => "color: #F1601D;"} Hi there!
          %h3 The following properties from your BlightStatus Watchlist have been updated:
      %tr
        %td
          %table
            -@subs.each do |sub|
              %tr
                %td
                  %a{:href => "http://blightstatus.nola.gov/addresses/#{sub.address.id}" }
                    %h3 #{sub.address.address_long}


  %p{:style => "font-size: 10pt"}
    %hr
    You are receiving email updates because you created a Watchlist on blightstatus.nola.gov. If you no longer want to receive email updates, visit: http://blightstatus.nola.gov/accounts and un-check the 'Receive Email Updates' checkbox.