@import "variables.css.scss";

.lt-ie9{

  footer{
    background-color: $lightGrey;
  }

  .property-page{
    .subscribe{
      width: 500px;
    }
  }

}


.lt-ie8{

  .property-page{
    .main{
      width: 60% !important;

    }
    .sidebar{

      width: 30% !important;

    }   
  }
  .about-page-content{
    .left-bar{

      .left{
        width: 45%;
      }
    }
  }
}
