#data-notice.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Warning
  .modal-body
    %p The City’s internal land management system is sending new information to BlightStatus more slowly than normal. As a result, some of the most recent case activity may not be available in BlightStatus.

    %p The data feed will be improved in a few weeks, and we sincerely apologize for any inconvenience this may have caused in the interim.
  

  .modal-footer
    %a.btn.btn-primary{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} I Understand

    / %button.btn.btn-primary.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} I Understand