%script{:type => "text/javascript"}
  = yield :javascripts
= javascript_include_tag "application"


:javascript
  var _gaq = _gaq || [];
  _gaq.push(['neworleans._setAccount', 'UA-18797759-9']);
  _gaq.push(['neworleans._setDomainName', 'nola.gov']);
  _gaq.push(['neworleans._setAllowLinker', true]);
  _gaq.push(['neworleans._trackPageview']);


  _gaq.push(['civicinsight._setAccount', 'UA-42090601-1']);
  _gaq.push(['civicinsight._setDomainName', 'nola.gov']);
  _gaq.push(['civicinsight._setAllowLinker', true]);
  _gaq.push(['civicinsight._trackPageview']);


  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

